recursive-include coop_cms/templates *.html
recursive-include coop_cms/fixtures *.txt
recursive-include coop_cms/static *.js *.css *.png *.jpg *.gif
recursive-include coop_cms/locale *.mo *.po
recursive-include coop_cms/apps/demo_cms/templates *.html
recursive-include coop_cms/apps/demo_cms/static *
recursive-include coop_cms/apps/rss_sync/locale *.mo *.po
recursive-include coop_cms/apps/rss_sync/static *
include README.rst