/* @override http://localhost:8000/static/css/tree.css */

/* */

.actions a{
	border: solid thin #ccc;
	text-decoration: none;
	background: #ddd;
	font-size: 1em;
	padding: 1px 1px 1px 1px;
}

#nodes {
	width: 600px;
	margin-top: 5px;
	font-size: small;
	margin-left: 12px;
}

li.nav-node {
	border: solid 2px #222;
	margin-top: 5px;
	padding: 4px 4px 4px 4px;
	list-style: none;
	z-index: 1;
	background: #f7f7f7;
}

.ui-autocomplete .ui-menu-item {
	font-size: 12px;
}

.ui-autocomplete-category{
	background-color: #cbd4e3;
	color: white;
	font-weight: normal;
	font-style: normal;
}

.add_object_section {
	padding: 10px;
	vertical-align: middle;
}

#add_object{
	position: relative;
}

#object_label{
	width: 250px;
	margin-top: 10px;
}

aside, #aside {
	float: left;
	border: 1px solid #dadada;
	min-height: 100px;
	padding: 16px;
	left: 284px;
	position: absolute;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}


.button-bar {
	font-size: 10px;
	margin-bottom: 10px;
}

.content-links {
	list-style-position: inside;
	list-style-type: none;
	padding-left: 0;
	margin-top: 10px;
}

.content-links li{
	font-size: 12px;
	font-weight: bold;
	line-height: 16px;
}


