{% load i18n %}
<script type="text/javascript">

$(function(){
	{% if edit_mode %}
    $("#coop-bar a.slide").pageSlide({width:'350px', direction:'right'});
	{% endif %}
    
    $("a.coopbar_addfile").live('click', function () {
        $.colorbox({
            href : $(this).attr('href'),
			title : '...',  
            onComplete : function(){
                $("form#template-form").ajaxForm({
                    success: function (html) {
                        if(html === 'ok') {
                          $.colorbox.close();
                          $("#coopbar_medialibrary").click();
                        }
                        else {
                            $.colorbox({html:html, title : '...',}); 
                        }
                    }
                })
            }
        });
        return false;
    });
    
    $("a.colorbox-form").live('click', function () {
        $.colorbox({
            href : $(this).attr('href'),
            onComplete : function(){
                $("form#template-form").ajaxForm({
                    success: function (html) {
                        if(html === 'ok') {
                          $.colorbox.close();
                          //$("#coopbar_save").click();
                        }
                        else {
                            $.colorbox({html:html}); 
                        }
                    }
                })
            }
        });
        return false;
    });

	{% if article and draft and edit_mode %}
	var toggle_save = function() {
		$(".edited").show();
		$(".publish").hide();
	}
	$(".edited").hide();
	GENTICS.Aloha.EventRegistry.subscribe(GENTICS.Aloha, "editableDeactivated",
        //Callback called when the fragment edition is done -> Push to the page
        function(event, eventProperties) {
            toggle_save();
        }
    );
	$("a.update-logo img").change(toggle_save);
	$(".article select").change(toggle_save);
	$(".article input").change(toggle_save);
	{% endif %}
});
</script>
