{% load i18n %}
<html>
<head>
  <meta charset="utf-8">
  <script>
    $(function() {
      $("a.cancel_button").click(function() {
        $.colorbox.close();
        return false;
      });
      $(document).bind('cbox_complete', function(){
        $("#cboxTitle").text("{% block title %}{% endblock %}");
      });
    });
  </script>
</head>
<body>
  <div class="main">
  <form id="template-form" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %} action="{% block form_url %}{% endblock %}" method="post">
  {% csrf_token %}
  <table class="popup_form">
      {{form.as_table}}
  </table>
  <div class="popup_buttons">
  <a href="" class="cancel_button">{% trans "Cancel" %}</a>
  <input type="submit" value="{% block form_ok %}{% trans "Ok" %}{% endblock %}">
  </div>
  </form>
  </div>
</body>
</html>