{% load i18n %}
<script type="text/javascript">
{% if node.in_navigation %}
$("#navnode_in_navigation").html('{% trans "Hide node in navigation" %}');
{% else %}
$("#navnode_in_navigation").html('{% trans "Show node in navigation" %}');
{% endif %}
</script>

<h3>{% block navtree_content_title %}{{model_name|capfirst}}: {{object_label}}{% endblock %}</h3>

{% block navtree_content_command%}
<ul class="content-links">
    <li><a href="{{admin_url}}">{% trans "Edit in admin"%}</a></li>
    <li><a href="{{node.content_object.get_absolute_url}}">{% trans "View on site"%}</a></li>

    {% block navtree_content_extracommand%}
    {% endblock %}

</ul>
{% endblock %}
